<%- include ("partials/header") %>
<div class="container">
	<h1>lending page here</h1>
<p>welcome to yelpcam</p>
<a href="/campgrounds">view All Campgrounds</a>
</div>

<%- include ("partials/footer") %>