<%- include ("./partials/header") %>
<div class="row">
        <div class="col-md-12">
            <form class="form-signin" action="/reset/<%= token %>" method="POST">
              <h1 class="h3 mb-3 font-weight-normal">Reset Your Password</h1>
              <label for="inputPassword" class="sr-only">New Password</label>
              <input type="password" id="inputPassword" class="form-control" name="password" placeholder="New Password" autofocus="autofocus" required>
				<label for="inputPassword" class="sr-only">Confirm Password</label>
              <input type="password" id="inputPassword" value="" class="form-control" name="confirm" placeholder="Confirm Password" required>

              <button class="btn btn-lg btn-primary btn-block" type="submit">Updatd Password</button>
            </form>
            <div class="form-signin">
                <a href="/campgrounds">Go Back</a>
            </div>
        </div>
    </div>
<%- include ("./partials/footer") %>

