body{
	background: #ffff;
	margin-bottom: 60px;
}
form>label {
	text-decoration: bold;
}
.row{
	margin-top:10px;
}
.jumbotron{
	margin-top:2%;
}
.img-thumbnail img{
	width:100%;
}
.img-height{
	height:200px;
}
.img-thumbnail{
	padding:0;
	margin-bottom:5%;
}
.img-thumbnail .caption{
	padding: 9px;	
}
#delete-form{
	display: inline;
}
.login-singup-content{
	width:400px; 
}
/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}
html {
  position: relative;
  min-height: 100%;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  	margin: 20px 0;
}
